img{
	float:left;
	width:30%;
	margin: 1.66666666666%;
}
h1{ width:30%;
	margin-left: 1.66666666666%;
	font-family: 'Spectral SC', serif;
	font-weight: 200;
	border-bottom: 2px solid #edc7c7;
}